# https://confluence.slac.stanford.edu/display/PCDS/TwinCAT+3+Git+Setup+and+Best+Practices
_Boot
_Libraries
_CompileInfo
*.suo
*~
*.tpy
*.bak
*.~u
*.csv
*.svd
*.dbg
TrialLicense.tclrs
*.library
*.tmcRefac
.pytmc_build

# please do not gitignore *.tmc here
# this file must be tracked for the pinned global types, even without a pytmc IOC

# In case you vim for some reason
*.swp
