
_Boot
_Libraries
_CompileInfo
*.suo
*~
*.tpy
*.bak
*.~u
*.tmcRefac
*.swp
*.dbg
*.tclrs
*.tmc
*.compiled-library
*.compileinfo
*.library
*.project.~u
*.tsproj.bak
*.xti.bak
LineIDs.dbg
LineIDs.dbg.bak